---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout
  pageTitle={frontmatter.title}
  ,
  pageDesc={frontmatter.description}
  ,
  pageImg={frontmatter.image}
>
  <main>
    <a class="homelink" href="/">James Bermudo</a>
    <h1>{frontmatter.title}</h1>
    <p class="date">{frontmatter.date}</p>
    <img src={frontmatter.image} alt="blog-image" />
    <div class="content">
      <slot />
    </div>
    <hr class="divider">
    <div class="links">
      <ul class="listlinks">
        <li class="sociallist">
          <a
            href="mailto:james@internetdetails.com"
            class="link"
            target="_blank">Email</a
          >
        </li>
        <li class="sociallist">
          <a href="https://twitter.com/jcebermudo" class="link" target="_blank"
            >Twitter</a
          >
        </li>
        <li class="sociallist">
          <a
            href="https://www.linkedin.com/in/jcebermudo/"
            class="link"
            target="_blank">LinkedIn</a
          >
        </li>
        <li class="sociallist">
          <a
            href="https://www.github.com/jcebermudo"
            class="link"
            target="_blank">GitHub</a
          >
        </li>
      </ul>
    </div>
  </main>
</Layout>

<style>
  .homelink {
    text-decoration: none;
  }
  main {
    margin-top: 5%;
    margin-bottom: 10%;
    font-weight: normal;
    color: black;
  }

  img {
    width: 100%;
    height: auto;
  }

  h1 {
    color: black;
    font-size: 28px;
    font-weight: normal;
    margin-top: 40px;
  }

  .date {
    font-size: 16px;
    color: rgb(123, 123, 123);
  }

  .link {
    text-decoration: underline;
    text-underline-offset: 2px;
    color: black;
  }

  .content {
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 16px;
  }

  .content :global(a) {
    color: black;
  }

  .content :global(img) {
    max-width: 100%;
    max-height: 100%;
    margin-top: 30px;
  }

  .content :global(video) {
    width: 100%;
    height: auto;
    margin-top: 30px;
  }

  .links {
    margin-top: 30px;
  }

  .listlinks {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
  }

  .divider {
    border-top: 2px dashed rgb(123, 123, 123);
  }
</style>
